.card{
    border: 5px solid goldenrod;
    padding: 20px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
}

.card > img {
    max-width: 200px;
}